<!DOCTYPE HTML>
<html>
  <head>
    <title>NBA Search</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/bower_libs/visualsearch/build-min/visualsearch.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/static/bower_libs/visualsearch/build-min/visualsearch-datauri.css" type="text/css" media="screen" charset="utf-8"/>
    <script src="/static/bower_libs/requirejs/require.js" data-main="/static/javascript/configure_visualsearch.js"></script>  
  </head>
  <body>
    <div class="container" id="VS">	
      <h1>NBA Search</h1>
      <!-- Renders search box -->
      <div id="search_box_container"></div>
      <!-- Shows the search query after selecting facets -->
      <div id="search_query">&nbsp;</div>
    </div>
  </body>
</html>
