body {
  font-size: 16px;
  line-height: 24px;
  height: 100%;
  color: #022;
  font-family: Arial;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
}
div.container {
  width: 720px;
  margin: 50px 0 50px 50px;
}
p, li {
  margin: 16px 0 16px 0;
  width: 550px;
}
p.break {
  margin-top: 35px;
}
ol {
  padding-left: 24px;
}
ol li {
  font-weight: bold;
  margin-left: 0;
}
a, a:visited {
  padding: 0 2px;
  text-decoration: none;
  background: #f0c095;
  color: #252519;
}
a:active, a:hover {
  color: #000;
  background: #e0a070;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 40px;
}
b.header {
  font-size: 18px;
}
span.alias {
  font-size: 14px;
  font-style: italic;
  margin-left: 20px;
}
table {
  margin: 16px 0; padding: 0;
}
tr, td, th {
  margin: 0; padding: 0;
  text-align: left;
}
th {
  padding: 24px 0 0;
}
tr:first-child th {
  padding-top: 0;
}
td {
  padding: 6px 15px 6px 0;
}
td.definition {
  line-height: 18px;
  font-size: 14px;
}
table.downloads td {
  padding-left: 18px;
}
.demo-hint {
  font-size: 13px;
  margin: 0 0 12px 12px;
  font-weight: normal;
}
#VS code, #VS pre, #VS tt {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 12px;
  line-height: 18px;
  color: #444;
  background: none;
}
#VS code {
  margin-left: 8px;
  padding: 0 0 0 12px;
  font-weight: normal;
}
#VS pre {
  font-size: 12px;
  padding: 2px 0 2px 0;
  border-left: 6px solid #829C37;
  margin: 12px 0;
}
#search_query {
  margin: 18px 0 -24px;
  opacity: 0;
}
#search_query .raquo {
  font-size: 18px;
  line-height: 12px;
  font-weight: bold;
  margin-right: 4px;
}
.attribution {
  margin: -12px 0 24px;
  font-size: 14px;
}
a.thirdparty-link {
  font-weight: bold;
}
